{% extends "base.html" %}
{% block title%}{{ name }}{% endblock %}

{% block content %}

<main class="form-signup">
  <div class="contrainer text-center">
    <form action="{{ url_for('auth.adduser') }}" method="post" class="p-4 p-md-5 border rounded-3 bg-light" >

      <h1 class="h1 mb-3 fw-bold mt-5">โปรดลงทะเบียน</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username" required/>
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required/>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password_1" placeholder="Password" required/>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password_2" placeholder="Password Confirm" required/>
        <label for="floatingPassword">Password Confirm</label>
      </div>
  
      <br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">ลงทะเบียน</button>
      <p class="mt-5 mb-3 text-muted">SHOKI &copy; 2022</p>
    </form>
  </div>
    
</main>

{% endblock %}